

body {
	margin:0;
	font-family: 'Work Sans', sans-serif;
	/*font-family: 'Quattrocento Sans', sans-serif;*/
	background-image: linear-gradient(rgb(255 255 255 / 70%), rgba(0,0,0,0.7)),url(imagenes/fondos/fondo14.jpg);
	/*la mejor es fondo2 - fondo14 - fondo16 - fondo17
	foto4-gratis--->https://www.pexels.com/es-es/foto/vista-panoramica-de-las-montanas-rocosas-durante-la-noche-1624438/
	foto5-gratis--->https://www.pexels.com/es-es/foto/madera-modelo-textura-marron-326311/
	fondo6-gratis--->https://www.pexels.com/es-es/foto/universo-azul-956981/*/
	background-repeat: round;


	/*background-size: 100% 100%;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100%;*/
}
/*
#barra-navegacion {
	position: fixed;
	width: 100%;
}*/

.banner-emiliano {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	/*background-image: url(banner4.jpg);
	background-size: 100% 100%;
	background-size: cover;
	background-repeat: no-repeat;*/
	max-width: 100%;
	height: auto;
	box-shadow: 0 0 15px #ddd;
	/*background: linear-gradient(45deg, #a6a4cc 0%, rgb(0 0 0, /*25%) 51%);*/
	background-color: black;
	transition: background-color .5s ease-in-out;
}

.banner-emiliano:hover {
	background-color: rgb(74 73 73);
}

.banner-emiliano h1 {
	color: white;
	text-shadow: 3px 3px 2px #a52828;
	/*#181d35*/
	/*text-shadow: 3px 3px 2px red;*/
}

.banner-emiliano p {
	color: white;
	text-shadow: 4px 4px 2px black;
	/*text-shadow: 3px 3px 2px red;*/

}

.seccion-wanderlust-contenedor {
	/*background: linear-gradient(45deg, #a6a4cc 0%, rgb(206 215 228 / 25%) 51%);*/
	/*gradiente blanco y gris: background: linear-gradient(45deg, #848484 0%, rgb(251 251 255) 51%);*/
	/*gradiente blanco y negro: background: linear-gradient(45deg, #000000 0%, rgb(251 251 255) 51%);*/
	padding: 100px;
	/*border-radius: 10px;*/

	
}


.seccion-wanderlust {
	/*padding: :500px;
	/*margin: 75px;*/
	border-top-style: groove;
	border-color: white;
	padding-top: 30px;
	/*gradiente blanco y negro: background: linear-gradient(45deg, #2c2c2d 0%, rgb(251 251 255) 51%);*/
	/*gradiente blanco y gris: background: linear-gradient(45deg, #9a9a9a 0%, rgb(251 251 255) 51%);*/
	/*background: linear-gradient(45deg, #a6a4cc 0%, rgb(206 215 228 / 25%) 51%);*/
	background: linear-gradient(37deg, #1d1d1d 0%, rgb(87 89 90) 60%);
	/*background-color: black;*/
	box-shadow: 0 0 15px rgb(0 0 0);
}

.seccion-wanderlust h2{
	padding: 10px;
	padding-left: 15px;
	margin-right: 50px;
	margin-left: 50px;
	color: white;
}

.seccion-wanderlust h2:hover {
	text-shadow: 2px 2px 3px grey;


}

.seccion-wanderlust h3{
	color: white;
}
.seccion-wanderlust p{
	color: white;
	padding-left: 20px;
	background-color: transparent;

}
.seccion-fotos {
	background-color: transparent;
	margin: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.seccion-fotos a {
	color: white;
}

.foto {
	width: 500px;
	margin: 10px;


}

#foto1 {
	width: 450px;
	border-style: ridge;
	padding: 20px;
	/*background-color: black;*/
	box-shadow: 0 0 15px rgb(255 255 255);
	transition: width 0.5s, padding 0.5s;
}

#foto1:hover {
	border-color: grey;
	/*border-width: thick;*/
	/*width: 505px;*/
	/*filter: opacity(.5); */
	width: 462px;
	padding: 16px;

}

#foto2 {
	width: 450px;
	border-style: ridge;
	padding: 20px;
		/*background-color: black;*/
	box-shadow: 0 0 15px rgb(255 255 255);
	transition: width 0.5s, padding 0.5s;
}

#foto2:hover {
	border-color: grey;
	/*border-width: thick;*/
	width: 462px;
	padding: 16px;
}

#foto3 {
	width: 450px;
	border-style: ridge;
	padding: 20px;
		/*background-color: black;*/
	box-shadow: 0 0 15px rgb(255 255 255);
	transition: width 0.5s, padding 0.5s;
}

#foto3:hover {
	border-color: grey;
	/*border-width: thick;*/
	width: 462px;
	padding: 16px;
}
#foto4 {
	width: 450px;
	border-style: ridge;
	padding: 20px;
		/*background-color: black;*/
	box-shadow: 0 0 15px rgb(255 255 255);
	transition: width 0.5s, padding 0.5s;
}

#foto4:hover {
	border-color: grey;
	/*border-width: thick;*/
	width: 462px;
	padding: 16px;
}

.titulos {
	margin-top: 10px;
}

.seccion-sobremi-contenedor {

	padding: 1px 300px 50px 300px;
	color: white;
}

#titulo-sobremi {

	margin-top: 50px;
}

.seccion-sobremi {
	border-top-style: groove;
	background-color: black;
	padding: 30px;
	box-shadow: 0 0 15px rgb(255 255 255);
}

.volver-inicio {
	float: right;
	position: fixed;
	bottom: 10px;
	right: 20px;
	box-shadow: -2 -2 3px white;
	}

#inicio {
	border-radius: 5px;
	width: 50px;
	height: 40px;
}


